@using Microsoft.AspNetCore.Identity
@inject UserManager<Korisnik> UserManager
@inject SignInManager<Korisnik> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Administrator"))
    {
        <h1>Ti si Administrator</h1>
    }
    else if (User.IsInRole("Recenzent"))
    {
        <h1>Ti si Recenzent</h1>
    }
    else if (User.IsInRole("Artist"))
    {
        <h1>Ti si Artist</h1>
    }
    else
    {
        <h1>Ti nemaš rolu!</h1>
    }
}
else
{
    <h1>Nisi prijavljen.</h1>
}