@{
    ViewData["Title"] = "Artist Panel";
}

<div class="container mt-5">
    <h2 class="mb-4">Artist Panel</h2>

    <div class="list-group">
        <a asp-controller="Profile" asp-action="Me" class="list-group-item list-group-item-action">👥 My profile</a>
        <a asp-controller="Album" asp-action="Index" class="list-group-item list-group-item-action">🎵 Manage Albums</a>
        <a asp-controller="Artist" asp-action="Analytics" class="list-group-item list-group-item-action">🎧 Analytics</a>
        <a asp-controller="Album" asp-action="Favorites" class="list-group-item list-group-item-action">Favorites</a>
    </div>
</div>
