@model Revalb.Models.Album

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link rel="stylesheet" href="~/css/albumi/Albumi.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}

<div class="AlbumForm">
    <div class="header">Add a New Album</div>
    <form asp-action="Create" method="post" class="form" novalidate>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Naziv" class="form-label"></label>
            <input asp-for="Naziv" class="form-input" />
            <span asp-validation-for="Naziv" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DatumObjave" class="form-label"></label>
            <input asp-for="DatumObjave" class="form-input" type="date" />
            <span asp-validation-for="DatumObjave" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CoverSlika" class="form-label"></label>
            <input asp-for="CoverSlika" class="form-input" />
            <span asp-validation-for="CoverSlika" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Opis" class="form-label"></label>
            <textarea asp-for="Opis" class="form-input"></textarea>
            <span asp-validation-for="Opis" class="text-danger"></span>
        </div>

        <div class="form-actions">
            <input type="submit" value="Create" class="form-button" />
            <a asp-action="Index" class="form-button secondary">Back to List</a>
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
