@model Revalb.Models.Album

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAlbum" />
            <div class="form-group">
                <label asp-for="IdArtist" class="control-label"></label>
                <input asp-for="IdArtist" class="form-control" />
                <span asp-validation-for="IdArtist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumObjave" class="control-label"></label>
                <input asp-for="DatumObjave" class="form-control" />
                <span asp-validation-for="DatumObjave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zanr" class="control-label"></label>
                <input asp-for="Zanr" class="form-control" />
                <span asp-validation-for="Zanr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverSlika" class="control-label"></label>
                <input asp-for="CoverSlika" class="form-control" />
                <span asp-validation-for="CoverSlika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistIme" class="control-label"></label>
                <input asp-for="ArtistIme" class="form-control" />
                <span asp-validation-for="ArtistIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProsjecnaOcjena" class="control-label"></label>
                <input asp-for="ProsjecnaOcjena" class="form-control" />
                <span asp-validation-for="ProsjecnaOcjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
